<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>


    <div class="content-container">

        <h1>HEY YOU! You have some advice!</h1>

      <p>
        <%= advice %>
      </p>
       
      <button onclick="window.location.reload()">GIVE ME MORE</button>

    </div>

    <%- include("partials/footer.ejs") %>


</body>
</html>